<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    
    <key>NSPhotoLibraryUsageDescription</key>
    <string>We need access to your photo library to [provide a brief description of why your app needs this access].</string>
    
    <key>NSCameraUsageDescription</key>
    <string>We need access to your camera to capture photos.</string>
    <key>NSPhotoLibraryChangeUsageDescription</key>
    <string>We need access to your photos to detect changes and update the app accordingly.</string>
    <key>NSFileProviderDomainUsageDescription</key>
    <string>We need access to your files to [provide a brief description of why your app needs this access].</string>
    <key>NSUserTrackingUsageDescription</key>
    <string>This identifier will be used to deliver personalized ads to you.</string>
	<key>AppLovinSdkKey</key>
	<string>TvJQGrUVBz2XRoEdbc3BKLINDy9QuwypH3xSazVLgKcTX7qTcTKDerNSWsFnrFwQ5fk2nCeFLP88F7Ju4SJx2T</string>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
					<key>UISceneStoryboardFile</key>
					<string>Main</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
</dict>
</plist>
